.benefits {
  margin: 40px auto;
  &__title {
    margin-bottom: 5%;
  }
  &__item {
    max-width: 60%;
    position: relative;
    @include tablet {
      max-width: unset;
    }
    @include small-tablet {
      width: 100%;
      padding-left: 80px;
    }
  }
  &__item::after {
    position: absolute;
    top: 9%;
    display: inline-block;
    content: '';
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    @include tablet {
      left: -70px;
    }
    @include small-tablet {
      left: 0;
      width: 50px;
      height: 50px;
    }
  }
  img {
    display: block;
  }
}
.benefits__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "ben1 center ben4"
    "ben2 center ben5"
    "ben3 center ben6";
  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "ben4 ben1"
      "ben5 ben2"
      "ben6 ben3";
  }
  @include small-tablet {
    grid-template-columns: 100%;
    gap: unset;
    grid-template-areas:
    "ben1"
    "ben2"
    "ben3"
    "ben4"
    "ben5"
    "ben6";
  }
}

.center {
  grid-area: center;
	margin: 0 auto;
  @include tablet {
    display: none;
  }
}

.ben__title {
  font-size: 20px;
  font-weight: 700;
}
.ben__subtitle  {
  line-height: 1.5em;
}
.ben-left {
  text-align: right;
  margin-right: 70px;
  @include small-tablet {
    text-align: unset;
    margin-right: unset;
  }
}
.ben-left::after {
  left: 107%;
  background-position: center right;
  @include tablet {
    left: 104%;
  }
  @include small-tablet {
    left: 0;
  }
}
.ben-right {
  margin-left: 70px;
  @include small-tablet {
    margin-left: 0;
  }
}
.ben-right::after {
  right: 107%;
  background-position: center left;
}

.ben1 {
  grid-area: ben1;
  justify-self: right;
}

.ben1::after {
  background-image: url('../../img/ben1.svg');
}
.ben2::after {
  background-image: url('../../img/ben2.svg');
}
.ben3::after {
  background-image: url('../../img/ben3.svg');
}
.ben4::after {
  background-image: url('../../img/ben4.svg');
}
.ben5::after {
  background-image: url('../../img/ben5.svg');
}
.ben6::after {
  background-image: url('../../img/ben6.svg');
}

.ben2 {
  grid-area: ben2;
  justify-self: right;
}

.ben3 {
  grid-area: ben3;
  justify-self: right;
}

.ben4 {
  grid-area: ben4;
  justify-self: left;
}

.ben5 {
  grid-area: ben5;
  justify-self: left;
}

.ben6 {
  grid-area: ben6;
  justify-self: left;
}
