.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light);
  font-weight: 700;
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url('../img/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20vh 0;
  &__button {
    color: var(--color-light);
    font-weight: 700;
    background-color: var(--color-blue);
    padding: 20px 20%;
    border-radius: 30px;
    transition: color .3s linear, background-color .3s;
    margin-top: 40px;
  }
  &__button:hover {
    background-color: var(--color-light);
    color: var(--color-blue);
  }
  &__content {
    z-index: 510;
  }
  &__title {
    font-size: 3em;
  }
  &__undertitle {
    font-size: 1em;
    letter-spacing: 2.5px;
  }
  &__subtitle {
    display: block;
    font-size: 1.4em;
  }
}
.overlay {
  position: absolute;
  visibility: visible;
  opacity: 0.8;
}
