.process {
    padding: 40px 0;
    background-color: var(--color-gray);
    &__title {
        padding-bottom: 40px;
    }
    &__item-wrapper {
        position: relative;
        width: 100%;
        display: flex;
    }
    &__item {
        width: 50%;
        text-align: center;
        padding-right: 56px;
    }
    &__item-wrapper:nth-child(even) {
        justify-content: flex-end;
    }
    &__item-wrapper:nth-child(even)>&__item {
      padding-left: 10px;
    }
    &__item-text {
        line-height: 1.55;
    }
    &__item-img {
        max-width: 80px;
        text-align: center;
    }
    &__line {
        position: absolute;
        left: 50%;
        width: 2px;
        height: 100%;
        background-color: black;
    }
    &__number {
        position: absolute;
        border: 1px solid #fff;
        border-radius: 100%;
        background-color: #0857C3;
        color: #fff;
        padding: 10px;
        left: -14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.process__item-wrapper:last-child>.process__line>.process__number {
    bottom: 0;
}
