.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light);
  font-weight: 700;
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url('../../img/cover.jpg');
  background-repeat: no-repeat;
  background-clip: cover;
  background-position: center;
  padding: 50px;
  &__content {
    z-index: 510;
  }
  &__title {
    font-size: 64px;
  }
  &__undertitle {
    font-size: 16px;
    letter-spacing: 2.5px;
  }
  &__subtitle {
    font-size: 30px;
  }
  &__form {
    margin-top: 40px;
  }
  &__form-input-label {}
  &__form-input {}
  &__form-btn {}
}
.overlay {
  position: absolute;
  visibility: visible;
  opacity: 0.8;
}
