.footer {
  &__endline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 20px 0;
    color: var(--color-light);
    background-color: var(--color-dark);
  }
  &__endline-link {
    color: inherit;
    margin-bottom: 10px;
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-map {
      width: 100%;
      height: auto;
      min-width: 50%;
    }
    &-info {
      flex: 1;
      padding: 40px 100px;
      background-color: var(--color-dark);
      color: var(--color-light);
      line-height: 1.55;
      font-size: 22px;
      min-width: 50%;
      height: 439px;
    }
    &-title {
      font-weight: 700;
      max-width: 90%;
    }
    &-descr {
      font-style: normal;
    }
    &-descr a {
      color: inherit;
    }
  }
  &__form {
    &-wrapper {
      @include flex-column-center;
      position: relative;
      background-image: url('../../img/footer-form-back.png');
      background-repeat: no-repeat;
      background-clip: cover;
      background-position: center;
      padding: 15vh 0;
    }
    &-content {
      text-align: center;
      color: var(--color-light);
      max-width: 50%;
      z-index: 510;
    }
    &-content * {
      padding: 0;
      margin: 0;
    }
    &-title {
      font-size: 48px;
      padding-bottom: 40px;
    }
    &-subtitle {
      font-size: 24px;
      padding-bottom: 40px;
      line-height: 1.5;
    }
    &-button {
      color: var(--color-light);
      font-weight: 700;
      background-color: var(--color-blue);
      padding: 20px 20%;
      border-radius: 30px;
      transition: color .3s linear, background-color .3s;
    }
    &-button:hover {
      background-color: var(--color-light);
      color: var(--color-blue);
    }
  }
}
.overlay {
  position: absolute;
  visibility: visible;
  opacity: 0.8;
}
