.footer {
  &__form {
    padding: 20px 0;
  }
  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 20px 0;
    color: var(--color-light);
    background-color: var(--color-dark);
  }
}
