.reg {
    padding: 40px 0;
    background-color: var(--color-gray);
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__subtitle {
        font-size: 1.5em;
        line-height: 1.55;
        max-width: 70%;
        margin-bottom: 40px;
    }
    &__img-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        justify-items: center;
    }
    &__img {
        width: 50%;
        border: 1px solid var(--color-blue);
    }
    &__img:nth-child(odd) {
        justify-self: end;
    }
    &__img:nth-child(even) {
        justify-self: start;
    }
}
