<section class="oplata">
  <div class="oplata__content container">
    <h1 class="oplata__title main-title">Онлайн-оплата услуг по добровольной сертификации</h1>
    <p class="oplata__subtitle">Уважаемые пользователи, Вы можете оплатить услуги по добровольной сертификации АНО "СПЕКТР" банковской картой. Для оплаты введите свои контактные данные, выберите желаемую экспертную специальность, тариф  (или введите произвольную сумму) и нажмите на кнопку "Перейти к оплате"</p>
    <div class="oplata__form">
      <script data-b24-form="inline/45/xepbo4" data-skip-moving="true">
        (function(w,d,u){
        var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://portal.pt-com.ru/upload/crm/form/loader_45_xepbo4.js');
        </script>
    </div>
  </div>
</section>
