<div class="benefits container">
  <h2 class="benefits__title main-title centered">Преимущества, которые дает Вам сертификат</h2>
  <div class="benefits__grid-container">
    <div class="center">
      <img src="./img/sertificate-ivanov-for-site.jpg" alt="Сертификация экспертов">
    </div>
    <div class="benefits__item ben1 ben-left">
      <p class="ben__title">Больший вес в суде</p>
      <p class="ben__subtitle">перед заключениями несертифицированных специалистов</p>
    </div>
    <div class="benefits__item ben2 ben-left">
      <p class="ben__title">Срок действия</p>
      <p class="ben__subtitle">Срок действия сертификата судебно-экспертного учреждения - 3 года</p>
    </div>
    <div class="benefits__item ben3 ben-left">
      <p class="ben__title">Окупаемость</p>
      <p class="ben__subtitle">Окупаемость затрат на сертификацию уже с первых дополнительных заказов</p>
    </div>
    <div class="benefits__item ben4 ben-right">
      <p class="ben__title">Компетенция</p>
      <p class="ben__subtitle">Подтверждение компетенции перед клиентами и судами</p>
    </div>
    <div class="benefits__item ben5 ben-right">
      <p class="ben__title">Надежность</p>
      <p class="ben__subtitle">Зарегистрировано в Росстандарте № РОСС RU.И2234.04РЖК0</p>
    </div>
    <div class="benefits__item ben6 ben-right">
      <p class="ben__title">Специальности</p>
      <p class="ben__subtitle">Сертификация по всем судебным специальностям</p>
    </div>
  </div>
</div>
