<div class="company-ben">
    <div class="overlay"></div>
    <div class="company-ben__content container">
        <h2 class="company-ben__title main-title centered">Система добровольной сертификации судебных экспертов "СПЕКТР СТАНДАРТ"</h2>
        <span class="company-ben__subtitle">Преимущества сертификации в системе "СПЕКТР СТАНДАРТ"</span>
        <div class="company-ben__wrapper">
            <div class="company-ben__item">
                <img src="./img/comp-ben-1.svg" alt="Работаем по всей России" class="company-ben__item-img">
                <span class="company-ben__item-title">Работаем по всей России</span>
                <p class="company-ben__item-desc">
                    Сертификация проводится дистанционно без визита в офис
                </p>
            </div>
            <div class="company-ben__item">
                <img src="./img/comp-ben-2.svg" alt="Работаем по всей России" class="company-ben__item-img">
                <span class="company-ben__item-title">Короткие сроки</span>
                <p class="company-ben__item-desc">
                    Срок проведения сертификации от 2 дней
                </p>
            </div>
            <div class="company-ben__item">
                <img src="./img/comp-ben-3.svg" alt="Работаем по всей России" class="company-ben__item-img">
                <span class="company-ben__item-title">Доступные цены</span>
                <p class="company-ben__item-desc">
                    Скидки при сертификации от 2 специальностей
                </p>
            </div>
            <div class="company-ben__item">
                <img src="./img/comp-ben-4.svg" alt="Работаем по всей России" class="company-ben__item-img">
                <span class="company-ben__item-title">Минимум документов</span>
                <p class="company-ben__item-desc">
                    Минимальный комплект документов для сертификации
                </p>
            </div>
        </div>
    </div>
  </div>
