<div class="payment">
  <h2 class="payment__title main-title">Сроки и стоимость сертификации</h2>
  <hr class="payment__separator">
  <table class="container table payment__table">
    <thead>
      <tr class="table__row table__head-row">
        <th class="table__col table__head-col">Количество специальностей</th>
        <th class="table__col table__head-col">Срок сертификации</th>
        <th class="table__col table__head-col">Стоимость</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table__row">
        <td class="table__col" data-label="Количество специальностей">1</td>
        <td class="table__col" data-label="Срок сертификации">2 дня</td>
        <td class="table__col" data-label="Стоимость">7 000 рублей</td>
      </tr>
      <tr class="table__row">
        <td class="table__col" data-label="Количество специальностей">2</td>
        <td class="table__col" data-label="Срок сертификации">2 дня</td>
        <td class="table__col" data-label="Стоимость">12 000 рублей</td>
      </tr>
      <tr class="table__row">
        <td class="table__col" data-label="Количество специальностей">3 и более</td>
        <td class="table__col" data-label="Срок сертификации">от 3 дней</td>
        <td class="table__col" data-label="Стоимость">договорная</td>
      </tr>
    </tbody>
  </table>
</div>
