<section class="contacts">
  <div class="contacts__contacts">
    <div class="contacts__contacts-map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac56cf697abcd479e5f2c5fdc302456a5e92a009d0ad669e1f76a568097cf1370&amp;width=100%25&amp;height=688&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="contacts__contacts-info container">
      <h3 class="contacts__contacts-title">Автономная Некоммерческая организация "Институт Экспертно-Аналитических Исследований "Вектор"</h3>
      <address class="contacts__contacts-descr">
        <b>Адрес:</b> 105043, г. Москва, ул 9-Я Парковая, д. 7<br>
        <b>Телефон:</b> <a href="tel:88002015281">8 (800) 201-52-81</a><br>
        <b>E-mail:</b> <a href="mailto:anospectr@mail.ru">anospectr@mail.ru</a><br>
      </address>

      <h3 class="contacts__contacts-title">РЕКВИЗИТЫ</h3>

      <p>
        <b>ИНН:</b> 7728488964<br>
        <b>КПП:</b> 771901001<br>
        <b>ОГРН:</b> 1197700015314
      </p>

      <p>
        <b>Расчетный счет:</b> 40703810538000015220<br>
        <b>Банк:</b> ПАО СБЕРБАНК<br>
        <b>БИК:</b> 044525225<br>
        <b>Корр. счет:</b> 30101810400000000225
      </p>

      <p>
        <b>Юридический адрес:</b> 105043, г. Москва, ул 9-Я Парковая, д. 7, этаж 0<br>
        <b>Генеральный Директор:</b> Сурков Сергей Семенович
      </p>
    </div>
  </div>
  <div class="contacts__form-wrapper">
    <div class="overlay"></div>
    <div class="contacts__form-content">
      <h3 class="contacts__form-title main-title">Остались вопросы?</h3>
      <p class="contacts__form-subtitle">Нажмите на кнопку ниже, оставьте свой номер телефона и специалисты нашей компании проконсультируют Вас по всем вопросам</p>
      <script data-b24-form="click/46/pfrya4" data-skip-moving="true">
      (function(w,d,u){
        var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://portal.pt-com.ru/upload/crm/form/loader_46_pfrya4.js');
      </script>
      <button class="contacts__form-button btn-reset">ЗАДАТЬ ВОПРОС</button>
    </div>
  </div>
  <div class="contacts__endline">
    <a class="contacts__endline-link" href="#">Оферта</a>
    <p class="contacts__copyright">
      © АНО «Вектор». ИНН 7728488964. ОГРН 1197700015314. 2021
    </p>
  </div>
</section>
