<div class="cover">
  <div class="overlay"></div>
  <div class="cover__content">
    <span class="cover__undertitle">Система добровольной сертификации судебных экспертов "СПЕКТР"</span>
    <h1 class="cover__title">Сертификация судебных экспертов</h1>
    <span class="cover__subtitle">Получите сертификат судебного эксперта за 2 дня</span>
    <form action="POST" class="cover__form">
      <label for="email" class="cover__form-input-label"><input id="email" name="email" type="text" class="cover__form-input"></label>
      <label for="phone" class="cover__form-input-label"><input id="phone" name="phone" type="tel" class="cover__form-input"></label>
      <label for="name" class="cover__form-input-label"><input id="name" name="name" type="text" class="cover__form-input"></label>
      <button class="cover__form-btn">Подать заявку</button>
    </form>
  </div>
</div>
