<footer class="footer">
  <div class="footer__contacts">
    <div class="footer__contacts-map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1c54d82b272ce65041a67c992a1567ded5f559ab00909a6d96acd65bd1515de0&amp;width=100%25&amp;height=439&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="footer__contacts-info">
      <h3 class="footer__contacts-title">Автономная Некоммерческая организация "Институт Экспертно-Аналитических Исследований "Вектор"</h3>
      <address class="footer__contacts-descr">
        <b>Адрес:</b> 105043, г. Москва, ул 9-Я Парковая, д. 7<br>
        <b>Телефон:</b> <a href="tel:88002015281">8 (800) 201-52-81</a><br>
        <b>E-mail:</b> <a href="mailto:anospectr@mail.ru">anospectr@mail.ru</a><br>
      </address>
    </div>
  </div>
  <div class="footer__form">
    <script data-b24-form="inline/35/mkae0m" data-skip-moving="true"> (function(w,d,u){ var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0); var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h); })(window,document,'https://portal.pt-com.ru/upload/crm/form/loader_35_mkae0m.js'); </script>
  </div>
  <div class="footer__endline">
    <a class="footer__endline-link" href="#">Оферта</a>
    <small class="footer__copyright">
      &copy;&nbsp;ООО Спектр. Все права защищены. 2021
    </small>
  </div>
</footer>
