<div class="reg">
    <div class="reg__content container centered">
        <h2 class="reg__title main-title">Регистрация в Росстандарте</h2>
        <p class="reg__subtitle">
            Мы зарегистрированы в Федеральном агентстве по техническому регулированию и метрологии № РОСС RU.И2165.04РЖИО
        </p>
        <div class="reg__img-wrapper">
            <img src="../img/reg-1.jpg" alt="" class="reg__img">
            <img src="../img/reg-2.jpg" alt="" class="reg__img">
        </div>
    </div>
</div>