<div class="spec">
    <h2 class="spec__title main-title">Специальности, по которым мы проводим сертификацию</h2>
    <hr class="spec__separator">

    <div class="spec__content container">
      <!-- ЛЕВАЯ КОЛОНКА -->
      <section class="faq-accordeon">
        <div class="faq-accordeon__content container">
            <div class="accordeon__wrapper">
              <div class="accordeon__block one">
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">1. Почерковедческая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">1.1. Исследование почерка и подписей</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">3. Техническая экспертиза документов</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">3.1. Исследование реквизитов документов<br>
                      3.2. Исследование материалов документов</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">5. Портретная экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">5.1. Идентификация человека по фотографическим изображениям</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">7. Криминалистическая экспертиза звуко- и видеозаписей</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">7.1. Исследование голоса и звучащей речи<br>
                      7.2. Исследование звуковой среды, условий, средств, материалов и следов звукозаписей<br>
                      7.3. Исследование видеоизображений<br>
                      7.4. Исследование условий, средств, материалов и следов видеозаписей</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">9. Взрывотехническая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      9.1. Исследование взрывчатых веществ, продуктов и следов их взрыва<br>
                      9.2. Исследование боеприпасов, взрывных устройств и следов их взрыва<br>
                      9.3. Исследование порохов, пиротехнических составов и следов их сгорания<br>
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">11. Почвоведческая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      11.1. Исследование объектов почвенного происхождения
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">13. Автотехническая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      13.1. Исследование обстоятельств дорожно-транспортного происшествия<br>
                      13.2. Исследование технического состояния транспортных средств<br>
                      13.3. Исследование следов на транспортных средствах и месте ДТП (транспортно-трасологическая диагностика)<br>
                      13.4. Исследование транспортных средств в целях определения стоимости восстановительного ремонта и остаточной стоимости<br>
                      13.5. Исследование технического состояния дороги, дорожных условий на месте дорожно-транспортного происшествия<br>
                      13.6. Исследование транспортных средств по выявлению дефектов, качеству сборки, ремонта и рекламациям<br>
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">15. Взрывотехнологическая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      15.1. Исследование технических, организационных причин, условий возникновения, характера протекания взрыва и его последствий на объектах промышленности, транспорта, сельского и коммунального хозяйства
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">17. Бухгалтерская экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      17.1. Исследование записей бухгалтерского учета
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">19. Товароведческая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      19.1. Исследование промышленных (непродовольственных) товаров, в том числе с целью проведения их оценки<br>
                      19.3. Исследование транспортных средств, в том числе с целью их оценки<br>
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">21. Компьютерно-техническая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      21.1. Исследование информационных компьютерных средств
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">23. Экспертиза маркировочных обозначений</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      23.1. Исследование маркировочных обозначений на изделиях из металлов, полимерных и иных материалов
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">25. Экспертиза электробытовой техники</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      25.1. Исследование радиоэлектронных, электротехнических, электромеханических устройств бытового назначения
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">27. Землеустроительная экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      27.1. Исследование объектов землеустройства, в том числе с определением их границ на местности
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>
      <!-- ПРАВАЯ КОЛОНКА -->
      <section class="faq-accordeon">
        <div class="faq-accordeon__content container">
            <div class="accordeon__wrapper">
              <div class="accordeon__block one">
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">2. Автороведческая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">2.1. Исследование письменной речи</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">4. Фототехническая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">4.1. Исследование фотографических изображений и технических средств, используемых для их изготовления<br>
                      4.2. Исследование фотографических материалов</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">6. Трасологическая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">6.1. Исследование следов человека<br>
                      6.2. Исследование следов орудий, инструментов, механизмов, транспортных средств</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">8. Экспертиза оружия и следов выстрела</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">8.1. Исследование огнестрельного оружия и патронов к нему<br>
                      8.2. Исследование следов и обстоятельств выстрела<br>
                      8.3. Исследование холодного оружия</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">10. Криминалистическая экспертиза материалов, веществ и изделий</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      10.1. Исследование волокнистых материалов и изделий из них<br>
                      10.2. Исследование лакокрасочных материалов и покрытий<br>
                      10.3 Исследование нефтепродуктов и горюче-смазочных материалов<br>
                      10.4. Исследование изделий из металлов и сплавов<br>
                      10.6. Исследование изделий из стекла и керамики, силикатных строительных материалов<br>
                      10.7. Исследование спиртосодержащих жидкостей<br>
                      10.8. Исследование изделий из резин, пластмасс и других полимерных материалов
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">12. Биологическая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      12.1. Исследование объектов растительного происхождения<br>
                      12.2. Исследование объектов растительного происхождения
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">14. Пожарно-техническая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      14.1. Исследование технологических, технических, организационных и иных причин, условий возникновения, характера протекания пожара и его последствий
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">16. Строительно-техническая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      16.1. Исследования строительных объектов и территории, функционально связанной с ними, с целью определения их стоимости<br>
                      16.2. Исследования обстоятельств несчастного случая в строительстве с целью установления его причин, условий и механизма, а также круга лиц, в чьи обязанности входило обеспечение безопасных условий труда<br>
                      16.3. Исследование домовладений с целью установления возможности их реального раздела между собственниками в соответствии с условиями, заданными судом; разработка вариантов указанного раздела<br>
                      16.4. Исследование проектной документации, строительных объектов в целях установления их соответствия требованиям специальных правил. Определение технического состояния, причин, условий, обстоятельств и механизма разрушения строительных объектов, частичной или полной утраты ими своих функциональных, эксплуатационных, эстетических и других свойств<br>
                      16.5. Исследование строительных объектов, их отдельных фрагментов, инженерных систем, оборудования и коммуникаций с целью установление объема, качества и стоимости выполненных работ, использованных материалов и изделий<br>
                      16.6. Исследования помещений жилых, административных, промышленных и иных зданий, поврежденных заливом (пожаром) с целью определения стоимости их восстановительного ремонта;<br>
                      16.7. Исследования земельных участков с целью определением межевых границ и установления их соответствия фактическим границам
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">18. Финансово-экономическая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      18.1. Исследование показателей финансового состояния и финансово-экономической деятельности хозяйствующего субъекта
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">20. Психологическая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      20.1. Исследование психологии и психофизиологии человека
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">22. Исследование объектов судебной экспертизы с применением инструментальных методов</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      22.1. Применение методов молекулярной спектроскопии при исследовании объектов судебной экспертизы<br>
                      22.2. Применение методов атомной спектроскопии при исследовании объектов судебной экспертизы<br>
                      22.3. Применение рентгенографических методов при исследовании объектов судебной экспертизы<br>
                      22.4. Применение рентгеноспектральных методов и методов электронной микроскопии при исследовании объектов судебной экспертизы<br>
                      22.5. Применение хроматографических методов при исследовании объектов судебной экспертизы
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">24. Экологическая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      24.1. Исследование экологического состояния объектов почвенно-геологического происхождения<br>
                      24.2. Исследование экологического состояния естественных и искусственных биоценозов<br>
                      24.3. Исследование экологического состояния объектов окружающей среды в целях определения стоимости восстановления<br>
                      24.4. Исследование экологического состояния объектов городской среды<br>
                      24.5. Исследование экологического состояния водных объектов<br>
                      24.6. Исследование радиационной обстановки
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">26. Лингвистическая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      26.1. Исследование продуктов речевой деятельности
                    </p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">Другое</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">
                      - основы криминалистики<br>
                      - исследование объектов интеллектуальной собственности и средств индивидуализации с целью установления их использования<br>
                      - исследование на коррупциогенность проектов нормативных правовых актов и иных документов<br>
                      - медиатор (посредник - участников досудебной процедуры урегулирования споров)<br>
                      - судебно-медицинская экспертиза по материалам дел<br>
                      - эксперт-техник, осуществляющих независимую техническую экспертизу транспортных средств
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>
    </div>

  </div>
