<div class="spec">
    <h2 class="spec__title main-title">Специальности, по которым мы проводим сертификацию</h2>
    <hr class="spec__separator">

    <div class="spec__content container">
      <section class="faq-accordeon">
        <div class="faq-accordeon__content container">
            <div class="accordeon__wrapper">
              <div class="accordeon__block one">
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">1. Почерковедческая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">1.1. Исследование почерка и подписей</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">3. Техническая экспертиза документов</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">3.1. Исследование реквизитов документов<br>
                      3.2. Исследование материалов документов</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">5. Портретная экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">5.1. Идентификация человека по фотографическим изображениям</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">7. Криминалистическая экспертиза звуко- и видеозаписей</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">7.1. Исследование голоса и звучащей речи<br>
                      7.2. Исследование звуковой среды, условий, средств, материалов и следов звукозаписей<br>
                      7.3. Исследование видеоизображений<br>
                      7.4. Исследование условий, средств, материалов и следов видеозаписей</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>
      <section class="faq-accordeon">
        <div class="faq-accordeon__content container">
            <div class="accordeon__wrapper">
              <div class="accordeon__block one">
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">2. Автороведческая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">2.1. Исследование письменной речи</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">4. Фототехническая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">4.1. Исследование фотографических изображений и технических средств, используемых для их изготовления<br>
                      4.2. Исследование фотографических материалов</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">6. Трасологическая экспертиза</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">6.1. Исследование следов человека<br>
                      6.2. Исследование следов орудий, инструментов, механизмов, транспортных средств</p>
                  </div>
                </div>
                <!-- item -->
                <div class="accordeon__block-item">
                  <div class="accordeon__block-title">8. Экспертиза оружия и следов выстрела</div>
                  <div class="accordeon__block-text">
                    <p class="faq-accordeon__answer-content-text">8.1. Исследование огнестрельного оружия и патронов к нему<br>
                      8.2. Исследование следов и обстоятельств выстрела<br>
                      8.3. Исследование холодного оружия</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>
    </div>

  </div>
  