<div class="form-reestr">
    <div class="form-reestr__form-wrapper">
        <div class="overlay"></div>
        <div class="form-reestr__form-content">
        <h3 class="form-reestr__form-title main-title">Реестр выданных сертификатов судебных экспертов</h3>
        <p class="form-reestr__form-subtitle">Проверить действительность сертификата по номеру или ФИО эксперта</p>
        <a href="/new-site/reestr.html" class="form-reestr__form-button btn-reset">Проверить</a>
        </div>
    </div>
</div>
