<div class="process">
    <h2 class="process__title main-title centered">Порядок сертификации судебного эксперта</h2>
    <div class="process__container container">
        <div class="process__item-wrapper">
            <div class="process__line">
                <div class="process__number"><span class="process__number-content">1</span></div>
            </div>
            <div class="process__item">
                <img src="./img/sert-1.svg" alt="Заявка" class="process__item-img">
                <h3 class="process__item-title">Заявка</h3>
                <p class="process__item-text">
                    Отправьте заявку на сертификацию удобным для Вас способом: с сайта, по телефону или на email
                </p>
            </div>
        </div>
        <div class="process__item-wrapper">
            <div class="process__line">
                <div class="process__number"><span class="process__number-content">2</span></div>
            </div>
            <div class="process__item">
                <img src="./img/sert-2.svg" alt="Документы" class="process__item-img">
                <h3 class="process__item-title">Документы</h3>
                <p class="process__item-text">
                    Предоставьте скан-копии документов
                </p>
            </div>
        </div>
        <div class="process__item-wrapper">
            <div class="process__line">
                <div class="process__number"><span class="process__number-content">3</span></div>
            </div>
            <div class="process__item">
                <img src="./img/sert-3.svg" alt="Договор" class="process__item-img">
                <h3 class="process__item-title">Договор</h3>
                <p class="process__item-text">
                    Заключение договора
                </p>
            </div>
        </div>
        <div class="process__item-wrapper">
            <div class="process__line">
                <div class="process__number"><span class="process__number-content">4</span></div>
            </div>
            <div class="process__item">
                <img src="./img/sert-4.svg" alt="Оплата услуг" class="process__item-img">
                <h3 class="process__item-title">Оплата услуг</h3>
                <p class="process__item-text">
                    Банковской картой для ФЛ или на расчетный счет для ЮЛ
                </p>
            </div>
        </div>
        <div class="process__item-wrapper">
            <div class="process__line">
                <div class="process__number"><span class="process__number-content">5</span></div>
            </div>
            <div class="process__item">
                <img src="./img/sert-5.svg" alt="Сертификация эксперта" class="process__item-img">
                <h3 class="process__item-title">Сертификация эксперта</h3>
                <p class="process__item-text">
                    Проверка соответствия судебного эксперта требованиям
                </p>
            </div>
        </div>
        <div class="process__item-wrapper">
            <div class="process__line">
                <div class="process__number"><span class="process__number-content">6</span></div>
            </div>
            <div class="process__item">
                <img src="./img/sert-6.svg" alt="Выдача сертификата" class="process__item-img">
                <h3 class="process__item-title">Выдача сертификата</h3>
                <p class="process__item-text">
                    Отправка скан-копии сертификата на email и оригинала эксперту
                </p>
            </div>
        </div>
    </div>
</div>
