<section class="oferta">
  <div class="oferta__content container">
    <h1 class="oferta__title main-title">Публичный договор-оферта о предоставлении услуг</h1>
    <p><b>Российская Федерация, город Москва</b></p>
    <p><b>Дата размещения: «19» ноября 2019г.</b></p>
    <p><b>Дата вступления в силу: «19» ноября 2019г.</b></p>
    <ol class="oferta__list">
      <li class="oferta__item">
        <h2 class="oferta__subtitle">ОБЩИЕ ПОЛОЖЕНИЯ</h2>
        <ol class="oferta__sublist">
          <li class="oferta__subitem">Настоящий документ является официальным предложением (публичной офертой) Автономной Некоммерческой организации "Институт Экспертно-Аналитических Исследований "Вектор", именуемого в дальнейшем «Исполнитель», и содержит все существенные условия предоставления услуг по добровольной сертификации в Системе добровольной сертификации судебных экспертов «Спектр» (далее Система).</li>

          <li class="oferta__subitem">В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (далее – ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг, физическое или юридическое лицо, производящее акцепт этой оферты становится «Заказчиком» (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте), а Исполнитель и Заказчик совместно — «Сторонами» Договора Оферты.</li>

          <li class="oferta__subitem">Совершая действия по акцепту настоящего публичного договора-оферты Заказчик подтверждает свою правоспособность и дееспособность, достижение Заказчиком возраста 18 лет, а также законное право Заказчика вступать в договорные отношения с Исполнителем.</li>

          <li class="oferta__subitem">Исполнитель рекомендует Заказчику внимательно ознакомиться с текстом данной оферты. Если Заказчик не согласен с ее условиями и правилами или с каким-либо пунктом ее условий, Исполнитель предлагает Заказчику отказаться от заключения договора-оферты и использования услуг Исполнителя. Заключая настоящий Договор, Заказчик понимает значение своих действий и способен руководить ими, не находится под влиянием заблуждения, обмана, насилия, угрозы. Договор заключен Заказчиком добровольно, с предварительным полным ознакомлением с условиями настоящего Договора публичной оферты, содержание которого Заказчику понятно.</li>

          <li class="oferta__subitem">Если Заказчик не имел соответствующих полномочий в момент принятия публичной оферты от имени юридического лица, то он, как физическое лицо, принимает на себя всю ответственность за исполнение данной публичной оферты.</li>

          <li class="oferta__subitem">Заказчик дает согласие на обработку Исполнителем персональных данных, указанных Заказчиком при оформлении Заявки и/или при заключении Договора, в том числе на совершение Исполнителем действий, предусмотренных ст. 3 Федерального закона от 27.07.2006 года № 152-ФЗ «О персональных данных», любыми способами, для целей заключения и исполнения Договора.</li>

          <li class="oferta__subitem">Заказчик самостоятельно несет ответственность перед третьими лицами за все действия, совершенные с использованием их персональных данных (в т.ч. использование изображение гражданина).</li>
        </ol>
      </li>
      <li class="oferta__item">
        <h2 class="oferta__subtitle">ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h2>
        <ol class="oferta__sublist">
          <li class="oferta__subitem">
            В целях настоящей оферты нижеприведенные термины и определения используются в следующем их значении:
            <ul class="oferta__unorder-list" type="disc">
              <li class="oferta__unorder-item">
                <b>Оферта</b> - настоящий документ, публичный договор, публикация (размещение) текста публичного договора на официальном сайте Исполнителя является публичным предложением (офертой), адресованным широкому кругу лиц с целью оказания услуг в соответствии с предметом Настоящей оферты.
              </li>
              <li class="oferta__unorder-item">
                <b>Акцепт Оферты</b> — полное и безоговорочное принятие Оферты путем осуществления действий, указанных в разделе 4 настоящей Оферты. Акцепт Оферты создает Договор.
              </li>
              <li class="oferta__unorder-item">
                <b>Заказчик</b> – физическое лицо, индивидуальный предприниматель или юридическое лицо, независимо от организационно правовой формы, обратившееся с заказом к Исполнителю в соответствии с условиями настоящей Оферты (лицо, осуществившее Акцепт Оферты).
              </li>
              <li class="oferta__unorder-item">
                <b>Исполнитель</b> – юридическое лицо, оказывающее услуги Заказчику по Договору.
              </li>
              <li class="oferta__unorder-item">
                <b>Система добровольной сертификации судебных экспертов «Спектр»</b> - система добровольной сертификации судебных негосударственных экспертов, зарегистрированная в Реестре систем добровольной сертификации Федерального агентства по техническому регулированию (Росстандарт) под № РОСС RU.И2165.04РЖИО.
              </li>
              <li class="oferta__unorder-item">
                <b>Негосударственный судебный эксперт</b> - один из субъектов судебно-экспертной деятельности, который не состоит в штате какого-либо государственного судебно-экспертного учреждения. Негосударственный судебный эксперт производит экспертизы в порядке персонального поручения органа или лица, назначившего экспертизу, и обладает всеми правами и обязанностями, предусмотренными нормами процессуального права, в рамках которого осуществляется экспертиза.
              </li>
              <li class="oferta__unorder-item">
                <b>Экспертная специальность</b> - специальность, приобретенная лицом, в результате успешного освоения программы подготовки по одной из специальностей по исследованию объектов судебной экспертизы определенного рода, вида и подвида или по применению методов исследования объектов судебной экспертизы.
              </li>
              <li class="oferta__unorder-item">
                <b>Сайт Исполнителя</b> – Интернет-ресурс Исполнителя, размещенный в сети Интернет по адресу https://сертификация-экспертов.рф.
              </li>
              <li class="oferta__unorder-item">
                <b>Заявка на сертификацию</b> — Электронный документ, составленный Заказчиком, который содержит информацию о Заказчике на проведение работ по сертификации с приложением документов, необходимых для проведения ее экспертизы в части установления возможности проведения сертификации и принятия решения по заявке (Приложение №1).
              </li>
              <li class="oferta__unorder-item">
                <b>Договор</b> – договор между Заказчиком и Исполнителем на предоставление Услуг, который заключается посредством Акцепта настоящей Оферты и формируется отдельным документом с аналогичными положениями настоящей Оферты при наличии запроса Заказчика.
              </li>
              <li class="oferta__unorder-item">
                <b>Правила функционирования Системы</b> - правила функционирования Системы, устанавливающие назначение, принципы, объекты сертификации и характеристики, на соответствие которым осуществляется добровольная сертификация, структура, состав участников, правила проведения работ и порядок их оплаты в Системе.
              </li>
            </ul>
          </li>
          <li class="oferta__subitem">
            В Оферте могут быть использованы термины, не определенные в п.2.1. настоящей Оферты. В этом случае толкование такого термина производится в соответствии с текстом Оферты. В случае отсутствия однозначного толкования термина в тексте Оферты следует руководствоваться толкованием термина, определенным: в первую очередь — законодательством РФ, во вторую очередь — на сайте Исполнителя, затем — сложившимся (общеупотребимым) в сети Интернет.
          </li>
        </ol>
      </li>
      <li class="oferta__item">
        <h2 class="oferta__subtitle">ПРЕДМЕТ ДОГОВОРА</h2>
        <ol class="oferta__sublist">
          <li class="oferta__subitem">Исполнитель обязуется по поручению Заказчика оказать Услугу по добровольной сертификации судебного негосударственного эксперта, согласно Правилам функционирования Системы, по экспертной специальности, указанной в Заявке. При положительном решении о выдаче сертификата, Исполнитель оформляет сертификат компетентности эксперта и регистрирует его в Реестре сертификатов Системы. Цветная копия сертификата отправляется на электронную почту Заказчика в день его выдачи. Оригинал сертификата отправляется Заказчику почтовым отправлением. Срок действия сертификата компетентности негосударственного судебного эксперта – три года. При отрицательном решении Исполнителя о соответствии компетентности, Исполнитель мотивированно объясняет решение об отказе в выдаче сертификата компетентности. Заказчик обязуется принять Услугу и оплатить ее в порядке и на условиях, определенных настоящей Офертой.</li>

          <li class="oferta__subitem">Прежде чем заказать у Исполнителя Услугу, Заказчику необходимо произвести следующий ряд действий:
            <ul class="oferta__unorderlist" type="disc">
              <li class="oferta__unorder-item">оформить Заявку на сертификацию;</li>
              <li class="oferta__unorder-item">ознакомиться с Правилами функционирования Системы.</li>
            </ul>
          </li>
        </ol>
      </li>
      <li class="oferta__item">
        <h2 class="oferta__subtitle">АКЦЕПТ ОФЕРТЫ И ЗАКЛЮЧЕНИЕ ДОГОВОРА</h2>
        <ol class="oferta__sublist">
          <li class="oferta__subitem">Заключение Договора производится посредством Акцепта настоящей Оферты (принятия Заказчиком условий настоящей Оферты) в целом, без каких-либо условий, изъятий и оговорок (согласно ст. 438 ГК Акцепт должен быть полным и безоговорочным. Молчание не является акцептом, если иное не вытекает из закона, соглашения сторон, обычая или из прежних деловых отношений сторон).</li>

          <li class="oferta__subitem">Исполнитель приступает к оказанию Заказчику Услуги с момента осуществления Заказчиком Акцепта настоящей Оферты; осуществлением действий, установленных п.3.2 настоящей Оферты; оформлением Заявки и оплаты Услуги в соответствии с п. 5.5 настоящей Оферты. Указанные действия являются фактом, подтверждающим Акцепт настоящей Оферты. Договор считается заключенным в простой письменной форме.</li>

          <li class="oferta__subitem">Данная Оферта является действительной в той редакции и на тех условиях, которые существовали на момент ее Акцепта и оплаты (с учетом раздела 6 настоящей Оферты).</li>
        </ol>
      </li>
      <li class="oferta__item">
        <h2 class="oferta__subtitle">СТОИМОСТЬ УСЛУГ. ПОРЯДОК ОПЛАТЫ</h2>
        <ol class="oferta__sublist">
          <li class="oferta__subitem">Расходы, связанные с проведением добровольной сертификации негосударственных судебных экспертов, несет Заказчик в соответствии с договором между Заказчиком и Исполнителем</li>

          <li class="oferta__subitem">Оплата работ по сертификации негосударственных судебных экспертов проводится Заказчиком до начала выполнения работ и не зависит от полученных результатов.</li>

          <li class="oferta__subitem">Стоимость работ по сертификации устанавливается на основе прогнозируемых затрат на сертификацию в зависимости от вида и объема работ.</li>

          <li class="oferta__subitem">Стоимость Услуг НДС не облагается. Оплата производится в рублях.</li>

          <li class="oferta__subitem">Оплата Услуг производится после Акцепта настоящей Оферты, оформления заказа путем заполнения и отправки Заявки, и ее оплатой непосредственно на сайте Исполнителя через сервис платежного агрегатора в форме 100% оплаты или путем перечисления денежных средств на расчетный счет Исполнителя, по выставленному счету.</li>

          <li class="oferta__subitem">Оплата по Договору считается совершенной Заказчиком в момент зачисления денежных средств на счет Исполнителя.</li>

          <li class="oferta__subitem">Если оплата не была произведена в течение 2-х рабочих дней с даты отправки Заявки Договор считается незаключенным на условиях настоящей Оферты. Заявка считается аннулированной.</li>

          <li class="oferta__subitem">Заказчик самостоятельно несет все банковские комиссионные расходы по оплате услуг Исполнителя, а также несет ответственность за правильность производимых им платежей.</li>
        </ol>
      </li>
      <li class="oferta__item">
        <h2 class="oferta__subtitle">СРОК ДЕЙСТВИЯ, ИЗМЕНЕНИЕ УСЛОВИЙ ИЛИ ОТЗЫВ ОФЕРТЫ</h2>
        <ol class="oferta__sublist">
          <li class="oferta__subitem">Оферта вступает в силу с даты ее опубликования и действует до момента отзыва Оферты Исполнителем.</li>

          <li class="oferta__subitem">Исполнитель оставляет за собой право вносить изменения в условия настоящей Оферты и/или отозвать ее в любой момент по своему усмотрению. В случае внесения Исполнителем изменений в Оферту, такие изменения вступают в силу с момента размещения измененного текста Оферты в сети Интернет по адресу https://сертификация-экспертов.рф/oferta/, если иной срок вступления изменений в силу не определен дополнительно при таком размещении.</li>

          <li class="oferta__subitem">Положения измененной Оферты действуют только на вновь заключаемые договоры. Отозванная Оферта, по которой оплата еще не произведена, считается не полученной. Исполнитель обязуется в течение 1 (Одного) рабочего дня с даты отзыва Оферты уведомить Заказчика об ее отзыве со ссылкой на новую редакцию Оферты.</li>
        </ol>
      </li>
      <li class="oferta__item">
        <h2 class="oferta__subtitle">СРОК ДЕЙСТВИЯ, ИЗМЕНЕНИЕ И РАСТОРЖЕНИЕ ДОГОВОРА</h2>
        <ol class="oferta__sublist">
          <li class="oferta__subitem">Акцепт Заказчиком настоящей Оферты, произведенный согласно п. 4.3, 4.4 Настоящей Оферты, создает Договор (статья 438 Гражданского Кодекса РФ) на условиях Оферты.

          <li class="oferta__subitem">Договор вступает в силу с момента Акцепта Оферты Заказчиком и действует до момента исполнения Сторонами обязательств по Договору, либо до момента расторжения Договора.

          <li class="oferta__subitem">Договор может быть расторгнут:
            <ul class="oferta__unorderlist">
              <li class="oferta__unorder-item">по соглашению Сторон в любое время;</li>
              <li class="oferta__unorder-item">по иным основаниям, предусмотренным действующим законодательством Российской Федерации.</li>
            </ul>
          <li class="oferta__subitem">Прекращение срока действия Договора по любому основанию не освобождает Стороны от ответственности за нарушения условий Договора, возникшие в течение срока его действия.</li>

          <li class="oferta__subitem">Возврат средств при расторжении договора:
            <ul class="oferta__unorderlist">
              <li class="oferta__unorder-item">При расторжении договора по соглашению Сторон Заказчик вправе потребовать возврат денежных средств.</li>
              <li class="oferta__unorder-item">Возврату подлежат денежные средства, внесенные Заказчиком на счет Исполнителя за вычетом стоимости оказанных услуг на момент расторжения договора.</li>
              <li class="oferta__unorder-item">Денежные средства возвращаются способом удобным для обеих Сторон.</li>
            </ul>
        </ol>
      </li>
      <li class="oferta__item">
        <h2 class="oferta__subtitle">ПОРЯДОК И СРОКИ СДАЧИ ОКАЗАННОЙ УСЛУГИ</h2>
        <ol class="oferta__sublist">
          <li class="oferta__subitem">Исполнитель регистрирует и рассматривает заявку и в срок не более чем 10 рабочих дней сообщает свое решение Заказчику.</li>
          <li class="oferta__subitem">Услуга считается оказанной с момента отправки на адрес электронной почты Заказчика, который был им указан при оформлении Заявки, решения о выдаче или отказе в выдаче сертификата соответствия.</li>
        </ol>
      </li>
      <li class="oferta__item">
        <h2 class="oferta__subtitle">ОТВЕТСТВЕННОСТЬ СТОРОН И ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</h2>
        <ol class="oferta__sublist">
          <li class="oferta__subitem">За нарушение условий Договора Стороны несут ответственность, установленную Договором и/или действующим законодательством РФ.

          <li class="oferta__subitem">Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы (форс-мажор), которые возникли после заключения Договора, либо если неисполнение обязательств Сторонами по Договору явилось следствием событий чрезвычайного характера, которые Стороны не могли ни предвидеть, ни предотвратить разумными мерами.

          <li class="oferta__subitem">Не может быть основанием для расторжения Договора:
            <ul class="oferta__unorderlist">
              <li class="oferta__unorder-item">отрицательное решение Органа по сертификации негосударственных судебных экспертов о соответствии компетентности;</li>
              <li class="oferta__unorder-item">иные основания и причины, которые находятся вне зависимости от действий Исполнителя.</li>
            </ul>
        </ol>
      </li>
      <li class="oferta__item">
        <h2 class="oferta__subtitle">ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h2>
        <ol class="oferta__sublist">
          <li class="oferta__subitem">Все, что не указано в настоящей Оферте регулируется действующим законодательством Российской Федерации. Если какое-либо из условий Оферты признано недействительным или противоречит действующему законодательству Российской Федерации, это не делает Договор полностью недействительным.</li>

          <li class="oferta__subitem">Исполнитель и Заказчик, обязуются в случае возникновения споров и разногласий, связанных с оказанием услуг, применять досудебный порядок урегулирования спора. Если споры между Заказчиком и Исполнителем в отношении Договора не разрешены путем переговоров Сторон, они подлежат рассмотрению в порядке, предусмотренном действующим законодательством в суде по месту нахождения Исполнителя.</li>

          <li class="oferta__subitem">Стороны договорились, что любые уведомления и юридически значимые документы по Договору могут направляться одной Стороной другой Стороне посредством электронной почты, факсимильной связи, через сервер интернет-сайта Исполнителя https://сертификация-экспертов.рф, почтой России, курьерской службой.</li>

          <li class="oferta__subitem">Не вступая в противоречие с условиями настоящей Оферты, Заказчик и Исполнитель вправе в любое время оформить Договор на оказание Услуг в форме письменного двухстороннего документа.</li>

          <li class="oferta__subitem">Стороны соглашаются с тем, что использование Сотрудниками Исполнителя факсимильного воспроизведения своей подписи с помощью средств механического или иного копирования, электронно-цифровой подписи либо иного аналога собственноручной подписи на платежных требованиях, уведомлениях, письмах, и иных документах, имеющих отношение к настоящему Договору, имеет такую же юридическую силу, как и оригинальная подпись данного сотрудника.</li>

          <li class="oferta__subitem">Стороны обязуются соблюдать конфиденциальность об условиях заказываемой и получаемой информации.</li>
        </ol>
      </li>
      <li class="oferta__item">
        <h2 class="oferta__subtitle">РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ</h2>
        <ol class="oferta__sublist">
          <table class="oferta__table">
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">Полное наименование:</td>
              <td class="oferta__table-col">Автономная Некоммерческая организация "Институт Экспертно-Аналитических Исследований "Вектор"</td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">Сокращенное наименование:</td>
              <td class="oferta__table-col">АНО "Вектор"</td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">Генеральный директор:</td>
              <td class="oferta__table-col">Сурков Сергей Семенович</td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">Действует на основании:</td>
              <td class="oferta__table-col">Устава</td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">ИНН/КПП:</td>
              <td class="oferta__table-col">7728488964/771901001</td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">ОГРН:</td>
              <td class="oferta__table-col">1197700015314</td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">Юридический адрес:</td>
              <td class="oferta__table-col">105043, г. Москва, ул 9-Я Парковая, д. 7, этаж 0</td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">Телефон:</td>
              <td class="oferta__table-col"><a href="tel:88002019684">8 (800) 201-96-84</a></td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">Электронная почта:</td>
              <td class="oferta__table-col"><a href="mailto:anospectr@mail.ru">anospectr@mail.ru</a></td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">Сайт:</td>
              <td class="oferta__table-col"><a href="/">сертификация-экспертов.рф</a></td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">Расчетный счет:</td>
              <td class="oferta__table-col">40703810538000015220</td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">Наименование банка:</td>
              <td class="oferta__table-col">ПАО СБЕРБАНК</td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">Корреспондентский счет:</td>
              <td class="oferta__table-col">30101810400000000225</td>
            </tr>
            <tr class="oferta__table-row">
              <td class="oferta__table-col bold-text">БИК:</td>
              <td class="oferta__table-col">044525225</td>
            </tr>
          </table>
        </ol>
      </li>
    </ol>
  </div>
</section>
