// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1260px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-black: #000;
  --color-light: #ffffff;
  --color-dark: #0C2340;
  --color-blue: #0857c3;
  --color-gray: #F0F0F0;


  // sizes
  --grid-gap: 30px;

  // speed
  --hero-slider-speed: 500;

  // stylization
  --main-shadow:
    0 80px 80px -20px rgba(154, 156, 165, 0.08),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 4px 4px -4px rgba(30, 33, 44, 0.03);
}
