.reestr {
  background-color: var(--color-gray);
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }
  &__title {
    text-align: center;
  }
  &__subtitle {
    font-size: 2em;
  }
  &__form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    &-input {
      margin: 0;
      margin-right: 20px;
      height: 60px;
      padding: 0 20px;
      font-size: 16px;
      line-height: 1.33;
      width: 100%;
      border: 0 none;
      box-sizing: border-box;
      outline: none;
      border-radius: 0;
      @include small-tablet {
        margin: 0;
        margin-bottom: 20px;
      }
    }
    &-btn {
      text-align: center;
      height: 60px;
      font-size: 16px;
      padding-left: 60px;
      padding-right: 60px;
      font-weight: 700;
      white-space: nowrap;
      background-image: none;
      margin: 0;
      box-sizing: border-box;
      outline: none;
      cursor: pointer;
    }
    @include small-tablet {
      flex-wrap: wrap;
    }
  }
  &__table-wrapper {
    display: inline-block;
  }
  &__table {
    width: 100%;
    & tr {
      background: #ffffff;
    }
    @include tablet {
      border: 0;
      & thead {
        display: none;
      }
      & tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
      }
      & td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
        border-right: 1px solid transparent;
      }
      & td:last-child {
        border-bottom: 0;
      }
      & td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}
